<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:3000/;"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>To Do List</h1>
    <h2>Add your tasks, so you don't forget ;)</h2>

    <form action="/tasks" method="post">
      <label for="title">To Do:</label>
      <input type="text" id="title" name="title" /><br />
      <label for="user">User Number:</label>
      <input type="text"  name="user" /><br />
      <form action="/tasks/:cdStatus" method="post">
        <label for="status">Task Status:</label><br />
        <input type="text" name="status" /><br />
        <input type="submit" value="Add"  />
      </form>
    </form>
    
    <form action="/tasks/:taskId" method="post">
      <label for="delete">Delete</label><br />
      <label for="id_tarefa">Which task ID do you want to delete?</label>
      <input type="number" id="id_tarefa" name="id_tarefa" /><br />
      <input type="submit" value="Delete" />
    </form>

    <!-- Adicione uma seção para listar as tarefas -->
    <h3>Your List</h3>
    <form action="/tasks" method="get" >
    <div id="taskList" style="overflow: auto; max-height: 300px;">
      <ul>
        <% tasks.forEach(function(task) { %>
          <li>
            ID: <%= task.id_tarefa %>, Nome: <%= task.nm_tarefa %> | <%= task.cd_status %> 
          </li>
        <% }); %>
      </ul>
    </div>
  </form>
  </body>
</html>